[submodule "pathogen"]
	path = pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/simplenote"]
	path = bundle/simplenote
	url = git://github.com/humblehacker/simplenote.vim.git
[submodule "bundle/Vim-R-plugin"]
	path = bundle/Vim-R-plugin
	url = git://github.com/vim-scripts/Vim-R-plugin.git
[submodule "bundle/LaTeX-Box"]
	path = bundle/LaTeX-Box
	url = git://github.com/vim-scripts/LaTeX-Box.git
